<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= APP_CONFIG['googlemaps']['key'] %>&sensor=false">
  </script></head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">JPS tracker</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
    <hr />
    <footer>
      <p>
        &copy; Schwindt.org 2012 - GPS tracking powered by <a href="http://www.instamapper.com">InstaMapper.com</a>
      </p>
    </footer>
  </div>
</body>
</html>
